.missing {
  height: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.missing_text {
  font-size: var(--font-size-medium);
  font-family: "Roboto";
  letter-spacing: 0.1rem;
  font-weight: bold;
}